*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

:root {
  --coolBlue: dodgerblue;
  --shadow: lightslategray;
}

body {
  margin: 0px;
  padding: 0px;
}

#root {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

.Post {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
  height: 400px;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.PostTitle {
  background-color: var(--coolBlue);
  width: 100%;
  height: 20%;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 5px;
}

.PostUsername {
  background-color: var(--coolBlue);
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: 5px;
}

.PostText {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Post:hover {
  box-shadow: 2px 2px 5px var(--shadow);
  cursor: pointer;
}

span {
  color: red;
}

.FormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid var(--coolBlue);
  margin: 5px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5px;
  width: 300px;
  height: 300px;
}

.button {
  margin-top: 5px;
  border-radius: 5px;
  background-color: var(--shadow);
  width: 80%;
  height: 7%;
}

.buttonDelete {
  margin-top: 5px;
  border-radius: 5px;
  background-color: var(--shadow);
  width: 10%;
  height: 30%;
}

.buttonDelete:hover {
  background-color: crimson;
}

.button:hover {
  background-color: #4e91fd;
}

input {
  width: 80%;
  height: 7%;
  margin-top: 10px;
  margin-bottom: 10px;
}

label {
  font-size: large;
  font-weight: bold;
}

.navbar {
  width: 100%;
  height: 70px;
  background-color: var(--coolBlue);
}

.navbar h1 {
  display: inline;
  color: white;
}

.navbar h1:hover {
  cursor: pointer;
  text-decoration: underline;
}

.navbar button {
  width: 120px;
  height: 30px;
  background-color: var(--coolBlue);
  border: 0;
  color: white;
  font-size: xx-large;
}

.navbar button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.navbar a {
  text-align: left;
  text-decoration: none;
  font-size: xx-large;
  margin: 10px;
  color: white;
}

.navbar a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.CreateComment {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 20%;
  height: 30%;
}

.Comments {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 800px;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.CommentButton {
  height: 10%;
}

.CommentSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 80%;
  min-height: 600px;
  margin-top: 10px;
}

.Comment {
  border: 1px solid var(--coolBlue);
  border-radius: 5px;
  width: 30%;
  height: 30%;
  min-height: 30px;
  margin: 10px;
  text-align: center;
}

.Comment button {
  background-color: white;
  border: none;
}

.Comment button:hover {
  cursor: pointer;
}

.username:hover {
  text-decoration: underline;
  cursor: pointer;
}

.AI {
  position: fixed;
  width: 50px;
  height: 50px;
  right: 30px;
  bottom: 30px;
}

.AI button {
  width: 100%;
  height: 100%;
}

.chatix {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 80vh;
}

.response {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  width: 50%;
  height: 80%;
}

.controls {
  display: flex;
  align-items: center;
  justify-self: center;
  width: 50%;
  height: 10%;
}

.controls input,
button {
  height: 50%;
  margin: 0;
  padding: 0;
}

.controls input {
  width: 200%;
}

.controls button {
  height: 50%;
  margin: 0;
  padding: 0;
}

.user,
.assistant {
  margin-top: 10px;
}

.user {
  text-align: center;
  align-self: flex-end;
  max-width: 60%;
  max-height: 10%;
  word-wrap: break-word;
  border-radius: 10px;
  padding: 5px;
  background-color: var(--coolBlue);
  color: #fff;
  line-height: 1.25;
}

.assistant {
  align-self: flex-start;
  max-width: 60%;
  word-wrap: break-word;
  border-radius: 10px;
  padding: 5px;
  background-color: #e5e5ea;
  color: #000;
}

.like {
  background-color: var(--coolBlue);
  border: none;
}

.like:hover {
  cursor: pointer;
}

.question {
  background-color: white;
  border: none;
}
